<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewDependency' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "DependencyName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="dependency.name"
            />
            <!-- <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary> -->
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="version">
            {{ "DependencyVersion" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="version"
              id="version"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="dependency.version"
            />
            <!-- <abp-validation-summary
              [control]="displayNameModel"
              [controlEl]="displayNameEl"
            ></abp-validation-summary> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="type">
            {{ "DependencyType" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="type"
              id="type"
              [(ngModel)]="dependency.type"
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="officialUrl">
            {{ "DependencyOfficialUrl" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="officialUrl"
              id="officialUrl"
              [(ngModel)]="dependency.officialUrl"
            >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="targetFramework">
            {{ "DependencyTargetFramework" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="targetFramework"
              id="targetFramework"
              [(ngModel)]="dependency.targetFramework"
            />
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
