<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewGithubProfile' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="username">
            {{ "GithubProfileUsername" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="githubProfile.username"
            />
            <!-- <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary> -->
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="token">
            {{ "GithubProfileToken" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="token"
              id="token"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="githubProfile.token"
            />
            <!-- <abp-validation-summary
              [control]="displayNameModel"
              [controlEl]="displayNameEl"
            ></abp-validation-summary> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "GithubProfileDescription" | localize }}
          </label>
          <div class="col-md-9">
            <textarea
              type="text"
              class="form-control"
              name="description"
              id="description"
              [(ngModel)]="githubProfile.description"
            >
            </textarea>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
